body{background-color: black; background-image: url(); background-size: cover;}

@font-face {
  font-family: myFirstFont;
  src: url(Fonts/RobotoCondensed.ttf);
}

.body { 
  Display: flex;
  }

p  {  color: white;
    line-height: 1.6;
    font-family: 'RobotoCondensed', sans-serif;
    font-size: 1rem;}

/* This is everything to do with navigation */

.topnav {
  background-color: #000000;
  overflow: hidden;
  width: fit-content;
  max-width: 600px;
  margin: auto;
  position: fixed; left: 700px;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 22px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #008CBA;
  color: white;
}
.topnav a.active {
  background-color: #f50056;
  color: white;
}
.topnav a:visited{
  color: lightgreen;
}

/*End of nav section */

#Logo{
  position: absolute; left: 600px; bottom: -100px;
}

h2{ color: #f50056; font-family: 'RobotoCondensed', sans-serif;
   font-size: 1.6875rem; font-style:normal;}

#story{
  width: 400px;
  height: 190px;
  float: none;
  text-align: center;
  max-width: 400px;
  padding-left: 100px;
}

.storyparagraph{
  margin: 15px 20px 30px 20px;
  color: white;
  line-height: 1.6;
  font-family: 'RobotoCondensed', sans-serif;
  font-size: 1rem;
}

#Jill{
  width: 400px;
  height: 400px;
  float: none;
  text-align: center;
  max-width: 400px;
  padding-left: 700px;
  position: absolute; top: 1035px;
}

.JillParagraph{
  margin: 15px 20px 30px 20px;
  color: white;
  line-height: 1.6;
  font-family: 'RobotoCondensed', sans-serif;
  font-size: 1rem;
}

#BTC{
  width: 400px;
  height: 190px;
  float: none;
  text-align: center;
  max-width: 400px;
  position: absolute; left:1350px; bottom: -245px;
}

.BTCParagraph{
  color: white;
  line-height: 1.6;
  font-family: 'RobotoCondensed', sans-serif;
  font-size: 1rem;
}

hr{color: #008CBA;}

/* Page 1 End */

/* Page 2 Start */
#listbody{
  background-image: url(media/images/listbackground.png); background-size: cover;
}

h1{
  font-family: 'RobotoCondensed', sans-serif; color:#f50056;
  font-size: 300%;

}
#songtitle{
text-align: center; position: absolute; left: 37%; top: 10%;
}
#popularSongs{
  position: absolute; left: 10%; top: 30%;
}

#songList{
  color: white; text-align: left;
}

.KiraMiki{
  color: #008CBA;
  font-weight: bold;
}

#KiraHerself{
  position: absolute; left: 36%; top: 29%;
  text-align: center;
}
#LiveMusicList{
  list-style-type: square;
  text-align: left;
  color: white;
}
#liveMusic{
  position: absolute; left: 77%; top: 29%;
}
#liveMusicHeader{
  position: relative; left: 10%;
}

/* Page 2 End */

/* Page 3 Start */

/* Potentially include scanlines - Uncomment Scanlines HTML element too
#Scanlines{
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
}
*/
#MenuTable{
  position: absolute; left: 10%; top: 10%;
  text-align: center;
  width: 80%;
  color: white;
  border: 1px solid; border-color: #008CBA;
  font-family: 'RobotoCondensed';
  font-size: larger;
  background-color: #131823;
}

.drinkImg{
  text-align: center;
}